@use '../App/App';

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.button {
  margin-right: auto;
  outline: none;
  border: 1px solid App.$primary-font-color;
  padding: 5px 10px;
  background-color: #FFF;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  color: App.$secondary-font-color;
  border-color: App.$secondary-font-color;
}

.select {
  outline: none;
  border: 1px solid App.$primary-font-color;
  padding: 5px 10px;
  background-color: #FFF;
  border-radius: 3px;
  cursor: pointer;
}

.select:hover {
  color: App.$secondary-font-color;
  border-color: App.$secondary-font-color;
}