@use '../App/App';

.comments {
  display: grid;
  grid-template-rows: auto minmax(300px, auto);
  row-gap: 20px;
  width: 100%;
  grid-column: span 2;
}

.commentsCount {
  color: App.$primary-font-color;
  font-size: 20px;
  margin-top: 20px;
}